@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #939BF5;
    overflow-x: hidden; 
    width: 100%;
    max-width: 100%;
    font-size: 16px; 
    padding: 0 15px; /* Adicionando espaçamento à esquerda e direita */
}

.container {
    width: 100%;
    max-width: 1200px; 
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word; /* Evita o corte inadequado das palavras */
}

h1 {
    font-family: Arial, sans-serif;
    color: #4A8CF0;
    text-align: center;
    line-height: 1.2;
}

h2 {
    text-align: justify;
    margin-top: 40px;
    font-family: Arial, sans-serif;
    color: #4A57F0;
}

h3 {
    text-align: center;
    margin-top: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: #4AC1F0;
}

p {
    text-align: justify;
    font-size: 1rem; 
    color: #724AF0;
}

li, ol, blockquote, code, del, ins, small, big, em {
    color: #724AF0;
}

#galleryscroller {
    overflow: hidden; 
    overflow-x: auto; 
    display: block;
    height: 138px;
    width: 100%; 
    max-width: 360px; 
    white-space: nowrap;
    margin: 0 auto; 
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px; 
        padding: 0 10px; /* Ajuste o padding no mobile para reduzir o espaço */
    }

    .container {
        padding: 0 10px; 
    }

    h1, h2, h3, p {
        font-size: 1rem; 
    }

    #galleryscroller {
        overflow-x: auto; 
        display: block;
        width: 100%; 
        max-width: 100%; 
        white-space: nowrap; 
        margin: 0 auto; 
    }
}

html {
    font-size: 16px; 
}

html, body {
    overflow-x: hidden; 
    width: 100%;
    max-width: 100%;
}

img, div, section {
    max-width: 100%;
    height: auto; 
}
